.image-buttons {
  position: absolute;
}

.image-buttons-container {
  max-width: 1280px;
  z-index: 2;
}

.image-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.199) 3.5%,
    rgba(0, 0, 0, 0.195) 7%,
    rgba(0, 0, 0, 0.19) 10.35%,
    rgba(0, 0, 0, 0.182) 13.85%,
    rgba(0, 0, 0, 0.174) 17.35%,
    rgba(0, 0, 0, 0.165) 20.85%,
    rgba(0, 0, 0, 0.155) 24.35%,
    rgba(0, 0, 0, 0.145) 27.85%,
    rgba(0, 0, 0, 0.135) 31.35%,
    rgba(0, 0, 0, 0.126) 34.85%,
    rgba(0, 0, 0, 0.118) 38.35%,
    rgba(0, 0, 0, 0.11) 41.85%,
    rgba(0, 0, 0, 0.105) 45.35%,
    rgba(0, 0, 0, 0.1) 48.85%,
    rgba(0, 0, 0, 0.103) 52.35%,
    rgba(0, 0, 0, 0.112) 55.85%,
    rgba(0, 0, 0, 0.126) 59.35%,
    rgba(0, 0, 0, 0.144) 62.85%,
    rgba(0, 0, 0, 0.165) 66.35%,
    rgba(0, 0, 0, 0.188) 69.85%,
    rgba(0, 0, 0, 0.213) 73.35%,
    rgba(0, 0, 0, 0.237) 76.85%,
    rgba(0, 0, 0, 0.262) 80.35%,
    rgba(0, 0, 0, 0.285) 83.85%,
    rgba(0, 0, 0, 0.306) 87.35%,
    rgba(0, 0, 0, 0.324) 90.85%,
    rgba(0, 0, 0, 0.338) 94.35%,
    rgba(0, 0, 0, 0.347) 97.85%,
    rgba(0, 0, 0, 0.35)
  );
  pointer-events: none;
  margin-bottom: 15px;
}

.image-buttons button {
  font-size: 0.833rem;
  color: #767676;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  border: 10px solid hsla(0, 0%, 100%, 0.9);
  background-color: hsla(0, 0%, 100%, 1);
  cursor: pointer;
}

.image-buttons button:hover {
  color: #111;
  background-color: #fff;
}

.image-buttons button:hover {
  color: #111;
  background-color: #fff;
}

.image-buttons-top {
  display: flex;
  width: 100%;
  height: 32px;
  top: 20px;
}

.image-buttons-top > button:first-child {
  margin-left: auto;
  margin-right: 15px;
}

.image-buttons-top > button:last-child {
  margin-right: 15px;
}

.image-buttons-top > button:last-child:hover {
  cursor: pointer;
}

.image-buttons-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  bottom: 30px;
}

.image-buttons-bottom > button {
  margin-right: 15px;
  margin-left: 15px;
}

.image-buttons-profile {
  position: relative;
  display: inline-flex;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 15px;
}

.image-buttons-profile > div {
  width: 100%;
  margin-right: 5px;
}

.image-buttons-profile > div > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.image-buttons-profile-username {
  color: white;
  font-weight: bold;
  line-height: 32px;
}

@media (max-width: 500px) {
  .image-modal-header {
    flex-direction: column;
  }
  .image-buttons-profile > div {
    width: auto;
  }

  .image-modal-header > .image-buttons-top {
    justify-content: flex-end;
  }

  .image-buttons-top > button:first-child {
    margin: 0;
  }
  .image-buttons-top > button > span {
    display: none;
  }
}
