.image-modal-portal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: zoom-out;
  overflow: auto;
  z-index: 999;
}

.image-modal {
  display: flex;
  padding-top: 32px;
  padding-right: 70px;
  padding-left: 70px;
  cursor: default;
}

.image-modal > div {
  width: 100%;
  min-width: 235px;
  background-color: white;
  border-radius: 4px;
}

.image-modal-close {
  position: absolute;
  top: 30px;
  left: 30px;
}

.image-modal-close > button {
  font-size: 25px;
  color: white;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.image-modal-close > button:focus {
  outline: 0;
}

.image-modal-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.image-modal-header > button {
  border-color: #d1d1d1;
}

.image-modal-header > .image-buttons-top {
  width: auto;
}

.image-modal-body > div {
  text-align: center;
  padding: 15px 15px;
}

.image-modal-body > div > a {
  display: inline-block;
  position: relative;
  font-size: 25px;
}

.image-modal-body > div > a > i {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.image-modal-body > div > a > img {
  width:100%;
  margin: 0 auto;
}
